.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-loading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;
}

.App-link {
  color: #61dafb;
}

.App .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  opacity: 0.8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
